@{
  Layout = "_Layout";
}

@using Library.Models;

<h1>Authors</h1>

@if (@Model.Count == 0)
{
  <h3>No author have been added yet!</h3>
}

<ul>
  @foreach (Author author in Model)
  {
    <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new author", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

<!-- @* @{
  Layout = "_Layout";
  }

  @using System.Security.Claims

  <h2>Authentication with Identity</h2>
  <hr />
  @if (User.Identity.IsAuthenticated)
  {
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
  <input type="submit" class="btn btn-default" value="Log out" />
  }
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
  <p>@Html.ActionLink("See all books", "Index", "Books")</p>
  <p>@Html.ActionLink("Add new book", "Create", "Books")</p>
  <p>@Html.ActionLink("Add new author", "Create", "Authors")</p>

  }
  else
  {
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  } *@ -->